* {
    box-sizing: border-box;
}

body {
    background-color: #56BCBF;
    font-family: 'Playfair Display', serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 500px;
}

input {
    margin: 10px 0 15px 0;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 14px;
    padding: 5px 5px 5px 12px;
}

textarea {
    margin: 10px 0 15px 0;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 14px;
    padding: 5px 5px 5px 12px;
    height: 200px;
}

select {
    margin: 10px 0 25px 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 14px;
    padding: 5px 5px 5px 12px;
}

button {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding: 5px 40px;
    transition: all .5s;
}

button:hover {
    background-color: transparent;
    color: black;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.selectWrapper {
    position: relative;
} 
.selectWrapper:after {
    content: '>';
    font: 17px "Consolas", monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    pointer-events: none;

    right: 10px;
    bottom: 30px;
}